.toppage {
    height: 50px;
    text-align: center;
}

.searchfield {
    margin-left: 70%;
    height: 20px;
    width: 200px;
    vertical-align: top;
}

div .submit {
    height: 26px;
    width: 26px;
    display: inline-block;
    background: -webkit-linear-gradient(bottom, #5a72b1, #99b3de);
}

.search-but {
    height: 19px;
    background: url(../images/iconmonstr-magnifier-4-32.png) no-repeat;
    background-size: 100% 100%;
    width: 20px;
    padding: 0px;
    margin-left: 2.5px;
    margin-top: 2.5px;
    border: 0px;
}

.search-form {
}

.search-div {
    margin-top: 20px;
}

.loginlink {
    position: absolute;
    top: 4px;
    right: 30px;
    font-size: 12px;
}

a {
    text-decoration: none;
}

body {
}

.topname {
    margin-top: 25px;
    font-size: 24px;
}

.menu-table {
    display: block;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.menu-column {
    width: 19.6%;
    text-align: center;
    display: inline-block;
}

.menu-row {
    width: 100%;
    display: block;
}

tbody {
    width: 100%;
    display: block;
}

footer {
    text-align: center;
}

.section-aboutus {
    width: 75%;
    margin-left: 12.5%;
}

div .why-we {
    text-align: center;
}

div .advantages {
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: 28%;
    display: inline-block;
}

.page {
    margin-top: 4%;
}

.filters {
    margin-left: 10%;
    width: 13%;
    vertical-align: top;
    display: inline-block;
}

.products {
    margin-left: 2%;
    width: 60%;
    vertical-align: top;
    display: inline-block;
}

.price-row {
    display: inline-block;
    width: 55px;
    margin-left: 7px;
    margin-right: 7px;
}

.price-box {
    width: 55px;
}

.ram {
    margin-top: 20%;
}

.producer {
    margin-top: 20%;
}

.input-producer {
    margin-top: 5%;
}

.input-ram {
    margin-top: 5%;
}

.filters-submit {
    margin-top: 15%;
}

.product-div {
    display: inline-block;
    width: 20%;
    margin-right: 2.25%;
    margin-left: 2.25%;
    margin-bottom: 4%;
}

.price-p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.name-p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-div {
    text-align: center;
    margin-left: 30%;
    width: 40%;
    height: 400px;
}

.login-input {
    width: 60%;
    margin-left: 20%;
    display: block;
    height: 30px;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1.5px solid grey;
    text-align: center;
}

.login-but {
    display: block;
    width: 20%;
    margin-top: 18px;
    margin-left: 40%;
    height: 25px;
    border-radius: 7px;
    border: 1.5px solid grey;
}

.users-div {
    margin-left: 20%;
    width: 60%;
    text-align: center;
}

.user-div {
    width: 33%;
    display: inline-block;
}

.nickname-p {
    font-size: 20px;
}

.email-div {
    width: 48%;
    display: inline-block;
}

.makemanager-but {
    margin-top: 20px;
    height: 25px;
    border-radius: 5px;
    border: 1.5px solid grey;
}

.orders {
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

.order {
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-username {
    width: 49%;
    display: inline-block;
}

.order-but {
    margin-top: 15px;
    width: 15%;
    height: 25px;
    border-radius: 7px;
    border: 1.5px solid grey;
}
