
@{
    ViewData["Title"] = "Login";
}


<div class="login-div">
    <p>Log in</p>
    <form action="/" method="post">
        <input class="login-input" type="text" name="email" value="" placeholder="Email" />
        <input class="login-input" type="text" name="nickname" value="" placeholder="Short name" />
        <input class="login-input" type="text" name="password" value="" placeholder="Password" />
        <input class="login-input" type="tel" name="telephone" value="" placeholder="Telephone number" />
        <input class="login-but" type="submit" name="submit" value="Submit" />

    </form>

</div>

