
@{
    ViewData["Title"] = "Manager";
}

<div class="orders">
    <div class="order">
        <p>Order №1</p>
        <div class="order-username">User: username</div>
        <div class="order-username">Product: product</div>
        <button class="order-but" type="submit" name="submit">Confirm</button>
    </div>
    <div class="order">
        <p>Order №1</p>
        <div class="order-username">User: username</div>
        <div class="order-username">Product: product</div>
        <button class="order-but" type="submit" name="submit">Confirm</button>
    </div>
    <div class="order">
        <p>Order №1</p>
        <div class="order-username">User: username</div>
        <div class="order-username">Product: product</div>
        <button class="order-but" type="submit" name="submit">Confirm</button>
    </div>
    <div class="order">
        <p>Order №1</p>
        <div class="order-username">User: username</div>
        <div class="order-username">Product: product</div>
        <button class="order-but" type="submit" name="submit">Confirm</button>
    </div>
</div>

