.toppage{
    height:50px;
    text-align:center;
}
.searchfield {
    margin-left: 70%;
   height:20px;
   width:200px;
   
}
div .submit {
    height: 26px;
    width: 26px;
    display: inline-block;
    background:-webkit-linear-gradient(bottom, #5a72b1, #99b3de);

}
.search-but {
    height: 19px;
    background:url(../images/iconmonstr-magnifier-4-32.png) no-repeat ;
    background-size:100% 100%;
    width: 20px;
    padding:0px;
    margin-left:2.5px;
    margin-top:2.5px;
    border:0px;
    
    
}
.search-form {
    
}
.search-div{
    margin-top:20px;
}
.loginlink{
    position:absolute;
    top:4px;
    right:30px;
    font-size:12px;
    
}
a {
    text-decoration: none;
}
body{
    background:url("../images/background3.jpg") no-repeat;
    background-size:100% 100%;
    
}
.topname{
    margin-top:25px;
    font-size:24px;
}
.menu-table{
    display:block;
    width:100%;
    height:20px;
    margin-top:10px;
}
.menu-column{
    width:19.6%;
    text-align:center;
    display:inline-block;
}
.menu-row {
    width: 100%;
    display: block;
}
tbody{
    width:100%;
    display:block;
    
}
footer{
    text-align:center;
}
.section-aboutus{
    width:75%;
    margin-left:12.5%;
}
div .why-we{
    text-align:center;
}
div .advantages{
    margin-right:2.5%;
    margin-left:2.5%;
    width:28%;
    display:inline-block;
}
.page{
    margin-top:4%;
}
.filters {
    margin-left: 10%;
    width: 13%;
    height: 100px;
    display:inline-block;
}
.products {
    margin-left:2%;
    width: 60%;
    height: 100px;
    display: inline-block;
}
.price-row{
    display:inline-block;
    width:55px;
    margin-left:7px;
    margin-right:7px;
}
.price-box{
    width:55px;
}
.ram{
    margin-top:20%;
}
 .producer{
    margin-top:20%;
}
.input-producer{
    margin-top:5%;
}
.input-ram {
    margin-top: 5%;
}
.filters-submit{
    margin-top:15%;
}