
@{
    ViewData["Title"] = "Administrator";
}

<div class="users-div">
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
    <div class="user-div">
        <p class="nickname-p">nestea08</p>
        <div class="email-div"><span class="email-span">nestea08@yandex.ru</span></div>
        <div class="email-div"><span class="telephone-span">0964101687</span></div>
        <button class="makemanager-but" type="submit" name="submit">Make a manager</button>
    </div>
</div>

