@{
    ViewData["Title"] = "Home Page";
}

<section class="section-aboutus">
    <div class="why-we">
        <h3 class="why-we">Why we?</h3>
    </div>
    <div class="advantages">
        <h6>Comfortable delivery</h6>
        <p>For residents: Kiev, Kharkov, Dnepropetrovsk, Odessa, there are branches of free delivery. In other regions of Ukraine we will deliver your order using courier delivery services.</p>
    </div>
    <div class="advantages">
        <h6>Guarantee and refund</h6>
        <p>
            Making a purchase in our store, you are sure to get a sales receipt and a completed warranty card with the indication of the product model, serial number, sales date of the trade organization, certified with a wet seal.
        </p>
    </div>
    <div class="advantages">
        <h6>Representative offices</h6>
        <p>We are expanding the network of our representative offices in Ukraine. Already today we work in such cities as Kiev, Kharkov, Dnepropetrovsk, Odessa. Also, through courier services, we deliver to all cities of Ukraine.</p>
    </div>
    <div class="advantages">
        <h6>Technique installation</h6>
        <p>
            We offer you not only high-quality equipment, but also installation services. Our masters will help you to install air conditioning, water heater, washing machine or plasma TV.
        </p>
    </div>
    <div class="advantages">
        <h6>Service centers</h6>
        <p>
            We appreciate that you have chosen our store. We know how important it is for you to be sure that your favorite technique will last long and well.
        </p>
    </div>
    <div class="advantages">
        <h6>
            Purchase on credit
        </h6>
        <p>
            You will be able to apply for any product. This is a great chance to make the purchase you dreamed about! Lending to customers of TECHNOTOX is provided by Ukrsibbank, Alfa Bank, PrivatBank and OTP Bank
        </p>
    </div>
</section>