
@{
    ViewBag.Title = "Signup";
}

<div class="login-div">
    <p>Log in</p>
    <form action="/Home/Signup" method="post">
        <input class="login-input" type="text" name="email" value="" placeholder="Email" />
        <input class="login-input" type="text" name="password" value="" placeholder="Password" />
        <input class="login-input" type="text" name="shortname" value="" placeholder="Nickname" />
        <input class="login-input" type="text" name="phoneNumber" value="" placeholder="Telephone number" />
        <input class="login-but" type="submit" name="submit" value="Submit" />
        <a href="/Home/Login">Sign in</a>
    </form>

</div>

